.video-container {
  position: fixed;
  top: 0;
  bottom: 0;
  /* width: 100vw; */
  height: 100vh;
  overflow: hidden;
}
.video-containerFor {
  /* Make video to at least 100% wide and tall */
  min-width: 100vw;
  min-height: 100vh;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-videos {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.center-positions {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
